.card {
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow when zooming/moving */
}

.image {
  transition: transform 0.4s ease;
  transform: scale(1.1);
}

.card:hover .image {
  transform: scale(1); /* Slight zoom-in effect on image */
}

.card:hover .overlay {
    background-color: rgba(255, 255, 255, 0.5) !important; /* White overlay on hover */
  }

.content {
  transition: transform 0.4s ease;
}

.card:hover .content {
  transform: translateY(-10px); /* Move the text content up on hover */
}
